$gray: lighten(gray, 40%);

.timer {
  border: 1px $gray solid;
  border-radius: 10%;
  border-width: 2px;
  width: 12em;
  height: 10em;
  margin-top: 1em;
  & > * {
    margin: 1em;
  }
}

.form {
  border: 2px solid $gray;
  border-radius: 5px;
  width: 70%;
  padding: 5px;
}

* {
  font-family: 'Quicksand', sans-serif;
}

.btn-container {
  display: flex;
  margin: auto 0;
}

button {
  flex-grow: 1;
  margin: 0;
  height: 1.5em;
}