{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "globals": {
    "document": true,
    "window": true,
    "URLSearchParams": true
  },
  "rules": {
    "react/no-unused-prop-types": 1,
    "react/require-default-props": 1,
    "react/jsx-no-bind": [1, {
      "ignoreRefs": true
    }]
  }
}